body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 400px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.error {
  color: red;
  font-size: 12px;
}

.userUD {
  display: flex;
  justify-content: space-between;
}

.buttonRed {
  background-color: red; 
  border-radius: 15%;
  padding: 5px;
  color: white; 
  border: 2px solid white;
}

.buttonRed:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.buttonOrange {
  background-color: orange; 
  border-radius: 15%;
  padding: 5px;
  color: white; 
  border: 2px solid white;
}

.buttonOrange:hover {
  background-color: white;
  color: orange;
  border: 2px solid orange;
}

.textRed {
  color: red;
}